{% extends "layout.html" %}
{% block title %}Painel do Administrador{% endblock %}
{% block content %}
<h1 class="mb-4">Painel do Administrador</h1>
<p class="lead">Bem-vindo(a), {{ current_user.nome }}! Use os links abaixo para gerenciar a plataforma.</p>
<div class="list-group">
    <a href="{{ url_for('resumo') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-bar-chart"></i> Dashboard sobre Alunos
    </a>
    <a href="{{ url_for('lista_modulos') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-collection-play-fill"></i> Gerenciar Módulos de Conteúdo
    </a>
    <a href="{{ url_for('lista_turmas') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-collection"></i> Gerenciar Turmas
    </a>
    <a href="{{ url_for('lista_monitores') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-person-video"></i> Gerenciar Monitores
    </a>
    <a href="{{ url_for('lista_inscricoes') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-list-ul"></i> Ver Inscrições de Alunos
    </a>
</div>
{% endblock %}